#include <dt-bindings/zmk/mouse.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>

// Home row mods macro

#define HRML(k1,k2,k3,k4) &ht LSHFT k1  &ht LALT k2  &ht LCTRL k3  &ht LGUI k4
#define HRMR(k1,k2,k3,k4) &ht RGUI k1  &ht RCTRL k2  &ht RALT k3  &ht RSHFT k4

&mt { quick-tap-ms = <180>; };

/ {
    behaviors {
        ht: hold_tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <220>;
            quick-tap-ms = <150>;
            require-prior-idle-ms = <100>;
            bindings = <&kp>, <&kp>;
        };

        altdel: altdel {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp LEFT_ALT>, <&kp DELETE>;
        };

        tdquote: tdquote {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp SINGLE_QUOTE>, <&kp DOUBLE_QUOTES>;
        };

        hrmod: hrmod {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            quick-tap-ms = <200>;
            tapping-term-ms = <200>;
            require-prior-idle-ms = <125>;
            bindings = <&kp>, <&kp>;
        };

        hrmod_l: hrmod_l {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "hold-preferred";
            quick-tap-ms = <200>;
            tapping-term-ms = <200>;
            require-prior-idle-ms = <80>;
            bindings = <&mo>, <&kp>;
        };
    };

    combos {
        compatible = "zmk,combos";

        combo_numbers {
            timeout-ms = <50>;
            key-positions = <31 34>;
            bindings = <&mo 2>;
        };

        combo_alt {
            timeout-ms = <50>;
            key-positions = <32 33>;
            bindings = <&mo 3>;
        };

        leftclick {
            bindings = <&mkp MB1>;
            key-positions = <16 17>;
        };

        rightclick {
            bindings = <&mkp RCLK>;
            key-positions = <17 18>;
        };

        Arrowup {
            bindings = <&kp UP_ARROW>;
            key-positions = <2 3>;
        };

        Arrowdown {
            bindings = <&kp DOWN_ARROW>;
            key-positions = <13 12>;
        };

        Arrowright {
            bindings = <&kp RIGHT_ARROW>;
            key-positions = <13 14>;
        };

        Arrowleft {
            bindings = <&kp LEFT_ARROW>;
            key-positions = <11 12>;
        };

        mouse3 {
            bindings = <&mkp MCLK>;
            key-positions = <18 16>;
        };

        to_game {
            bindings = <&to 4>;
            key-positions = <30 35>;
        };

        backspace {
            bindings = <&kp BACKSPACE>;
            key-positions = <26 27>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp Q  &kp W  &kp E       &kp R               &kp T      &kp Y             &kp U                         &kp I      &kp O    &kp P
&kp A  &kp S  &kp D       &kp F               &kp G      &kp H             &kp J                         &kp K      &kp L    &hrmod RGUI SEMI
&kp Z  &kp X  &kp C       &kp V               &kp B      &kp N             &kp M                         &kp COMMA  &kp DOT  &kp FSLH
              &kp ESCAPE  &hrmod LCTRL SPACE  &kp TAB    &hrmod_l 1 ENTER  &mt LEFT_SHIFT LC(BACKSPACE)  &altdel
            >;
        };

        right_layer {
            bindings = <
&kp LS(N1)     &kp LS(N2)   &kp LS(N3)    &kp LS(N4)    &kp LS(N5)    &kp LS(N6)    &kp LS(N7)  &kp LS(N8)  &kp LS(EQUAL)  &kp LS(GRAVE)
&kp LBKT       &kp RBKT     &kp LS(N9)    &kp LS(N0)    &none         &kp LS(BSLH)  &kp EQUAL   &tdquote    &kp MINUS      &kp LS(SEMI)
&kp LS(COMMA)  &kp LS(DOT)  &kp LS(LBKT)  &kp LS(RBKT)  &none         &kp BSLH      &kp QMARK   &kp GRAVE   &kp LS(MINUS)  &trans
                            &none         &trans        &trans        &trans        &trans      &none
            >;
        };

        left_layer {
            bindings = <
&kp F12  &kp F7  &kp F8  &kp F9  &kp C_VOL_UP    &kp LS(PG_UP)  &kp N7  &kp N8  &kp N9  &kp LCTRL
&kp F11  &kp F4  &kp F5  &kp F6  &kp C_VOL_DN    &kp LS(PG_DN)  &kp N4  &kp N5  &kp N6  &kp LEFT_GUI
&kp F10  &kp F1  &kp F2  &kp F3  &kp K_MUTE      &kp N0         &kp N1  &kp N2  &kp N3  &kp LEFT_SHIFT
                 &none   &trans  &trans          &trans         &trans  &none
            >;
        };

        tri_layer {
            bindings = <
&sys_reset   &trans  &none           &trans      &bt BT_SEL 0    &out OUT_USB  &out OUT_BLE  &none   &trans  &sys_reset
&bootloader  &none   &none           &none       &bt BT_SEL 1    &none         &none         &none   &none   &bootloader
&trans       &trans  &bt BT_CLR_ALL  &bt BT_CLR  &bt BT_SEL 2    &trans        &trans        &trans  &trans  &trans
                     &none           &trans      &trans          &trans        &trans        &none
            >;
        };

        layer_4 {
            bindings = <
&kp TAB         &kp Q  &kp W          &kp E      &kp R             &trans  &trans  &trans  &trans  &trans
&kp LEFT_SHIFT  &kp A  &kp S          &kp D      &kp F             &trans  &trans  &trans  &trans  &trans
&kp LCTRL       &kp Z  &kp X          &kp C      &kp B             &trans  &kp A   &kp D   &trans  &trans
                       &ht ESCAPE N5  &kp SPACE  &ht V NUMBER_4    &trans  &trans  &to 0
            >;
        };
    };
};
